<body>
    <div id="container">
        <h1>Enter an employee.</h1>
       
        <form action="/saveEmpl" method="post">
            <span id="err" style="color: red;"></span>
            <br>
            <label for="fname">First Name: </label>
            <br>
            <input type="text" name="fname" id="EmplEntry">
            <br>
            <label for="lname">Last Name: </label>
            <br>
            <input type="text" name="lname" id="EmplEntry">
            <br>
            <label for="dropd">Department: </label><br>
            <select name="dropd" id="dropdown">
                <option value="Department 1">Department 1</option>
                <option value="Department 2">Department 2</option>
                <option value="Department 3">Department 3</option>
            </select>
            
            
            <br>
            <label for="sdate">Start Date: </label>
            <br>
            <input type="date" name="sdate" id="startDate">
            <br>
            <label for="title">Title: </label>
            <br>
            <input type="text" name="title" id="jTitle">
            <br>
            <label for="sal">Salary: </label>
            <br>
            <input type="text" name="sal" id="salary">
            <br>
            <button type="submit">Submit Employee</button>
        </form>
    </div>
</body>
