<body>
   <div id="container"></div>
    <script>
        fetch('/getData').then((empls)=>{
                empls.json().then((theEmpls)=>{
                    for(let empl of theEmpls.empl){
                        let element = document.createElement('p')
                        element.innerHTML = "First name: " + empl.fname + " <br>Last name: " + empl.lname + " <br>Department: " + empl.dropd + " <br>Job title: " + empl.title + " <br>Salary: $" + empl.sal + " <br>Start date: " + empl.sdate + "<br>"
                        document.getElementById('container').append(element)
                        //add delete button 
                        let deleteButton = document.createElement('button')
                        deleteButton.innerText = 'Delete Entry'
                        deleteButton.addEventListener('click', function deleteEmpl(){
                            location.reload()
                            fetch('/deleteEmpl',{
                                method:'POST',
                                headers:{
                                    'Content-type':'application/json'
                                },
                                body:JSON.stringify({
                                    _id:empl._id,
                                    empl:empl.empl
                                })
                            })
                        })
                        element.appendChild(deleteButton)


                        let updateButton = document.createElement('button')
                        updateButton.innerText = 'Update Entry'
                        updateButton.addEventListener('click', function updateEmpl(){
                            location.reload()
                            window.location.href="update/" + empl._id
                        })
                        element.appendChild(updateButton)
                    }
                })
            })
    </script>
    </div>
</body>
</html>